<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>顏仁駿簡介</title>
	<style type="text/css">
		*{ font-family:"標楷體";margin-left:auto;margin-right:auto;}
		h1 {color:#0ABAB5; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
		* {padding: 0;margin: 0;}
        header,section,footer{background-color: #d6ccc2;border:5px #9d8189 solid;padding: 30px 20px 50px;margin: 30px;}
	</style>

    <script>
		function change1() {
  			document.getElementById("pic").src = "mountain.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}

		function change2() {
  			document.getElementById("pic").src = "me.jpg";
  			document.getElementById("h2text").innerText = "Jun-Chun,Yen";
		}
	</script>

</head>

    <body>
            <header>
				    <img src="me.jpg" width="110%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
			        
	         		      <h1>顏仁駿</h1>
             		      <h1>Jun-Chun,Yen</h1>
    
                           <h3>關於我<h3>
					       FB：<a href="https://www.facebook.com/BenjerminHuang"target="_blank">https://www.facebook.com/BenjerminHuang</a><br>
					       Tel:<a herf="tel:04-24719016">04-24719016</a><br>
					       E-Mail:<a href="s1115470@o365st.pu.edu.tw">s1115470@o365st.pu.edu.tw</a><br>
            </header>

            <section>
				          <h3>電影配樂<h3>
				          大象席地而坐電影配樂<br>
				          <audio controls>
					      <source src="/static/elephant.mp3" type="audio/mP3">
				          </audio><br>
			</section>

			<section>     
				          <h3>我喜歡的音樂<h3>
				          成長性思維的歌詞<br>
				          <iframe src="https://www.youtube.com/embed/DLrL9zFPWlE?si=gDS-CpWIwqZPzBiU" allowfullscreen></iframe>
		    </section>

		    <section> 
                          <h3>何倫碼測驗結果<h3>
		    	          <img src="hlm2.png">
		    </section>

		    <section>
		    	          <h3>自傳履歷</h3>
		    	          我應徵的是MIS工程師 <a href="https://www.104.com.tw/job/6d8wu?jobsource=n104bank2">https://www.104.com.tw/job/6d8wu?jobsource=n104bank2</a><br>
		    	          我喜歡PC與筆電軟硬體安裝維護、系統備份還原、使用諮詢與問題排除，上班時間9:00-18:00是非常有足夠的休息，還有周休二日。 讓我自我充電的時間。<br>艾新科環保材料有限公司（Asink Green Material Corporation Co., Ltd.）成立於2012年4月，是一家集研發、生產、銷售為一體的高新技術品牌廠商。公司利用最先進的AI人工智慧技術提供包括熱模擬、熱設計、工程製圖等整體散熱解決方案，同時專注於環保材料的開發與應用，其中大力發展新型環保納米碳材料。公司有四大事業部：納米碳散熱器事業部、散熱模組事業部、粉體塗料事業部、導熱介面材料事業部。<br>

                          艾新科研發團隊由多名材料學、熱流學、人工智慧等專業人士組成。掌握從納米碳管、納米碳球和石墨烯等原材料所製作出的納米塗層、零部件到成品的核心技術。並使得這一高科技成果完成了從“實驗成功”轉化為“商業產品”，再到“大量出貨”。<br>

                          艾新科納米碳散熱產品已經廣泛應用於各類電子產品,並開始應用於5G通訊、新能源汽車、LED照明、綠色建築、太陽能、大型基建等新領域。除了納米碳散熱產品，艾新科也在積極開發吸波、耐腐、抗菌、防靜電、抗干擾等領域的新產品。<br>

                          “新材料打造新世界!”推廣綠色環保材料是艾新科永遠堅持的使命及宗旨！讓我們艾新科人及艾新科的合作夥伴們一起攜手創造健康美好的綠色新世界！<br>
                          
                          經營理念
                          專業：10年以上的全方位散熱解決方案設計專家。<br>
                          環保：奈米碳粉體獨一無二專利配方，環保可回收範圍污染。<br>
                          創新：跟進社會趨勢，努力進行技術創新，即時提供有吸引力之商品，成為業界的領導者。<br>
                          共贏：合理價格、和客戶一起成長。永續經營，共創輸贏。<br>

                          在學期間對於有修網路通訊課程，對於網路通訊有部分的了解。<br>



                 
                                                      
		    </section>
		    <footer>
		              Copyright ©  顏仁駿. All Rights Reserved.
	        </footer>
 
    </body>
</html>
